<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles.css" />
    </head>
<body>

    {{#gpu}}
    <form class="edit_form" method="POST" actions='/edit/{{_id}}'>
         <h2>Editing: {{name}}</h2>
         <input type"text" name="name" value="{{name}}"/>
         <input type"text" name="manufacturer" value="{{manufacturer}}"/>
         <input type"number" name="avg" value="{{averageHashRateMhz}}"/>
         <input type"number" name="peak" value="{{peakHashRateMhz}}"/>
         <input type"number" name="cost" value="{{cost}}"/>
         <h1>Alternatives</h1>
         {{#alternates}}
         <input type"text" name="nvidia" value="{{nvidia}}"/>
         <input type"text" name="amd" value="{{amd}}"/>
         <input type"text" name="other" value="{{other}}"/>
         <button type="submit">Change {{name}}</button>
         {{/alternates}}
</form>
{{/gpu}}



</body>
</html>