<html>
    <head>
        
    </head>
<body>

    <form method="POST" actions='/edit/{{_id}}'>
         <p>{{name}}</p>
         <input type"text" name="name" value="{{name}}"/>
         <input type"text" name="manufacturer" placeholder="Manufacturer"/>
         <input type"number" name="avg" placeholder="Average Megahash Rate"/>
         <input type"number" name="peak" placeholder="Peak MegaHash Rate"/>
         <input type"number" name="cost" placeholder="GPU Cost"/>
         <h1>Alternatives</h1>
         <input type"text" name="nvidia" placeholder="NVD Alt"/>
         <input type"text" name="amd" placeholder="AMD Alt"/>
         <input type"text" name="other" placeholder="Other Alt"/>
         <button type="submit">Add to List</button>
</form>


</body>
</html>