<html>

<head>
    <link rel="stylesheet" type="text/css" href="./styles.css" />

</head>

<body>
    <div class="nav_wrap">
    <a class="gpu_button" href='/new-collection'>Add new GPU</a>
    </div>
    <div class="wrapper">
    
    {{#gpus}}
    <form class="gpu-container" method="POST" action="/delete/{{id}}">
        <p class="main" >Name: {{name}}</p>
        <p class="main" >Manufacturer: {{manufacturer}}</p>
        <p class="main" >Hash Rate: {{averageHashRateMhz}}</p>
        {{#alternates}}
        <h3>Alternates: </h3>
        <p>nVidia: {{nvidia}}</p>
        <p>AMD: {{amd}}</p>
        <p>Other: {{other}}</p>
        {{/alternates}}
        <div class="nav_wrap">
        <a class="gpu_button" href="/edit/{{_id}}">Edit This Entry</a>
        </div>
        <button type="submit">Delete</button>
       
    </form>
      {{/gpus}}



</div>
</body>

</html>