* {
    box-sizing: border-box;
    display:flex;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.gpu-container {
 
    background-color: seagreen;
    border: 2px black solid;
    
}
